.rectangle {
  border-bottom-right-radius: 8px;
  margin-right: -1px;
  margin-left: -90px;
  background: #0a3e66;
  clip-path: polygon(
    29% 0,
    100% 0,
    100% 100%,
    98% 100%,
    100% 100%,
    0 100%,
    13% 100%,
    24% 6%,
    26% 0
  );
}

.rectangle-rtl {
  margin-right: -45px;
  background: #0a3e66;
  clip-path: polygon(0 0%, 80% 0%, 82% 8%, 93% 100%, 0% 100%);
}

.image-count {
  width: 18px;
  background-color: #1e4874;
  color: #ffffff;
  margin-top: -20px;
  position: relative;
  font-size: 0.6rem;
  font-weight: 600;
}
