.badge-text {
  background-color: #fffdd9;
}
.badge {
  background-color: #0c3352;
  font-size: 13px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-by {
  width: 75%;
}

.search-by-keyword {
  width: 100%;
}

.border-b > div:not(:first-of-type){
  border-top: 1px solid #DAD7D7;
}

.width_90{
  width: 90%;
}