
*{  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif  !important;}
body{
  background-color:#FBFBFB ;
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;
  
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url('./compontes/2.png');
  background-size: cover;
  background-position: center;
  z-index: -2;
}


.mr-auto {
color: #151D20;
}
.logoname{
  display: inline-block;
  margin-left:20px ;
 
}



.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.button.signup {

  color: #151D20;
  width: 124px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border: 1px solid var(--Blue-Gray-900, #151D20);
border-radius: 4px;
color: #151D20;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}


.button.login {
  background: rgba(35, 135, 192, 0.38);
  width: 124px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
color: #151D20;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%;
}
 .imgmain{
  margin: 0%;
  right: 0;

  opacity: 1;
  bottom: 0;
 
  
 }

.content {
  flex: 1;
  padding: 70px;
  color: #486284;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  top: 0;
  left: 0;
  flex: 1; 
margin-top: 10%;
}

.content h3 {
  font-size: 48px;
}

.content p {
  color: #929294;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;

}
.btn {font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;}


.book, .see{
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;
  flex: 1;
  color: #486284;
  text-transform: uppercase;
 top: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;
  width: 200px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
color: #151D20;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 100%;
margin-right: 20px;
margin-top: 10%;
}

.book {
  background: rgba(35, 135, 192, 0.38); /* Background color with transparency */
  border: none; /* Border with transparency */
}

.see {
  background-color:  rgba(118, 129, 136, 0.38); /* Transparent background color */
  border: none; /* No border */
}
 .pro{
  display:flex;
  margin-top: 10%;
 }
 h4{
  font-size: 48px;
  margin-right: 8%;

 }

 .about{

  flex: 1;
  padding: 70px;
  padding-top: 250px;
  color: #486284;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  top: 0;
  left: 0;
  flex: 1; 
  max-width: 40%; 
 
  mix-blend-mode: multiply;
 }

 .container{
  background: #FBFBFB;
  width: 100%;
  height: 1000px;
  margin-top: 10%;
 
 }

 .about h3{
  font-size: 48px;
 }

.about p{
  text-align: right;
  color: #929294;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
padding-top: 5%;
padding-bottom: 5%;
}
.chose{
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;}

.chose h3{
  font-size: 48px;
  color: #145a9e;
}
.chose p{
  text-align: right;
  color: #929294;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
padding-top: 5%;
}
.imgabout{
  
  position: absolute;
  width: 50%;
  height: 50%;
  flex-shrink: 0;
  right: 0;
  z-index: 1;
  margin-right: 5%;
}
.seemore{
text-align: center;
background: #FBFBFB;

}
.seemore h3{
  font-size: 35px;
  color: #486284;

 }

.seemore p{
  align-items: center;
  color: #929294;
  font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
padding-top: 5%;
padding-bottom: 5%;

}



h4{
  flex: 1;
  color: #486284;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  top: 0;
  flex: 1; 
  max-width: 30%; 
}


  
.pic1{
  border: 15px solid  rgb(255, 255, 255);
  width: 368px;
  height: 287px;
  flex-shrink: 0;
  z-index: 1;
display: flex;
flex-direction: column;
margin: 5%;
}

.t3{

  align-items: center;
  max-width: 70%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}
.contacts-container{
  background: linear-gradient(220deg, rgba(35, 135, 192, 0.38) 4.14%, #486284 57.08%);
box-shadow: 0px 10px 15px 0px rgba(151, 151, 151, 0.12);
width: 100%;
height: 100vh;
z-index: -1;
display: flex; 
align-items: center;
text-align: center;
justify-content: center;

}
.social-media-icons{
  display: flex;
  flex-direction: row;

}
.info{
 color: #FBFBFB;
 max-width: 60%;
}
.info h7{
  font-size: 50px;
}

@media (max-width: 768px) {
  
  .logoname {
    margin-left: 10px;
  }
  .nav-options {
    display: none;
  }
  .buttons {
    flex-direction: column;
    gap: 10px;
  }
  .button {
    width: 100%;
  }
 .content,
  .about {
    padding: 3%;
    max-width: 100%;
  }
  .content h3,
  .pro h4,
  .firsttop h4 {
    font-size: 28px;
  }
  .content p,
  .about p,
  .seemore p {
    font-size: 14px;
  }


  .pro,
  .firsttop {
    flex-direction: column;
  }
  .pro h4,
  .firsttop h4 {
    font-size: 24px;
  }

  .imgabout,
  .pic1 {
    max-width: 100%;
    margin: 5% auto;
    border-width: 10px;
  }
}

@media (max-width: 576px) {

  .logo {
    font-size: 18px;
  }
  .logoname {
    margin-left: 5px;
  }
  .button {
    font-size: 12px;
    padding: 8px 16px;
  }


  .content h3,
  .pro h4,
  .firsttop h4 {
    font-size: 24px;
  }
  .content p,
  .about p,
  .seemore p {
    font-size: 14px;
  }

 
  .pro,
  .firsttop {
    flex-direction: column;
  }

 
  .imgabout,
  .pic1 {
    border-width: 5px;
  }
}
.form-container {
  background: linear-gradient(220deg, rgba(170, 212, 236, 0.38) 4.14%, #99c6d4 57.08%);
color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.form {
  color: #FBFBFB;
border: #486284;

}
.infoo{
  display: flex;
  flex-direction: column;
}

 .row{
  margin-top: 4%;
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;

 }

 .call{
  color: #486284;
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;

 }

 .complex-item{
  margin-top: 4%;
 }

 .custom-btn { 
  background-color: rgba(35, 135, 192, 0.38);
  color: #fff;  
  
}
.contact-form-container {
  background: linear-gradient(220deg, rgba(195, 211, 220, 0.38) 4.14%, #d2d4d5 57.08%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

 .footer {
  justify-content: center;
  align-items: center;
  text-align: center;
display: flex;
flex-direction: column;
  color: #fff;
  bottom: 0;
  width: 100%;

}

 .quote-slider {
  width:100%;
  overflow: hidden;
  position: relative;
}

.quote-container {
  display: flex;
  transition: transform 0.5s ease;
}

.quote {
  flex: 0 0 100%; 
}

.quote.active {
  opacity: 1;
}

.quote-slider .quote-container {
  transform: translateX(calc(-100% * var(--quote-index, 0)));
  
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.button2 {
  background-color: #2273c0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}


button:hover {
  background-color: #145a9e;
}

.contacts-container2{
  background: linear-gradient(220deg, rgba(35, 135, 192, 0.38) 4.14%, #486284 57.08%);
box-shadow: 0px 10px 15px 0px rgba(151, 151, 151, 0.12);
width: 100%;
z-index: 1;
display: flex;
flex-direction: row;
align-items: center;
text-align: center;
font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;
justify-content: center;
}

.info2{
  margin-top: 2%;
  color: #FBFBFB;
 max-width: 100%;
 font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;


}
h3{
 
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;
  text-align: right;
}

.content p{
  text-align: right;
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;
}
.button1{
  font-family: 'Cairo', 'Cairo Play', 'Roboto', sans-serif;}

  .mini{
    justify-content: center;
    align-items: center;
    text-align: center;
  }




.custom-navbar-toggle{
background-color: #5c6a78;
}


@media (max-width: 768px) {
  .navbar-expand-lg.navbar-dark .navbar-collapse {
    background-color: white;
  }
  .button1{
   text-align: center;
  }
  .pro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
text-align: center;

  }
  .info2{
display: flex;
flex-direction: column;
  }
  .contacts-container2{
    display: flex;
flex-direction: column;
width: 100%;
  }
 
}
/* Default styles for larger screens */
.imgabout {
  position: absolute;
  width: 50%;
  height: 50%;
  flex-shrink: 0;
  right: 0;
  z-index: 1;
  margin-right: 5%;
}

.about {
  flex: 1;
  padding: 70px;
  padding-top: 250px;
  color: #486284;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  top: 0;
  left: 0;
  flex: 1;
  max-width: 40%;
  mix-blend-mode: multiply;
}

/* Responsive styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .imgabout {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    right: auto;
  }

  .about {
    padding: 3%;
    max-width: 100%;
  }

  .about h3 {
    font-size: 28px;
  }

  .about p {
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .social-media-icons{
    align-items:center;
   
    justify-content: center;
  
  }
  .row2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: #2274c02d;
    padding: 3%;
    border-radius: 10%;
  
  }
  .cmg{
    margin-top: 10%;
  }
  .call{
    margin-top: 15%;
  }
.form-wrapper{
  margin: 5%;
}
}
.social-media-icons{
  align-items:center;
max-width: 100vw;
  justify-content: center;

}

.emoji{
  margin: 10%;
  margin: 50%;
  max-width: 100%;

}

.row2{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  background-color: #2274c02d;
  padding: 3%;
  border-radius: 10%;

}
.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}